ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mydiv {
    font-size: 32px;
    font-family: fantasy;
}

#latest:hover {
    color: #888888;
    text-decoration: none;
}

#latest {
    color: black;
}

.latest-list {
    counter-reset: section;
}

.custom-counter {
    font: 32px fantasy;
    color: black;
    display: flex;
    border-bottom-style: dotted;
    margin-top: 20px;
}

.custom-counter::before {
    counter-increment: section;
    content: "#"counter(section);
    display: initial;
    margin: 0px 10px 20px 24px;
}

.my-nav-link {
    color: #f4f4f4 !important;
    font-size: large;
}

.my-nav {
    color: #eedad1 !important;
    font-size: x-large;
}

.my-nav-link:hover {
    color: #f69e7b !important;
}

body {
    background-color: #f8f3eb;
}

.creator-start {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}



