{% extends 'polls/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to RandomPolls!</h1>
    <p class="lead">RandomPools lets you create and share your polls with broader audience, be it for fun or professional reasons.</p>
    <hr class="my-4">
    <p>It also enables you to discover the existing polls and participate in them or just look at the results.</p>
    <p class="lead">
      <a class="btn btn-outline-dark btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}